<app-navbar></app-navbar>

<main id="main" class="main mt-0 p-0">
  <div id="kt_app_content" class="app-content  flex-column-fluid">
      <div class="container-fluid px-5">
          
        <div class="row bg-white p-3 mt-3 rounded">
          <div class="col-md-12">
            <div class="d-flex justify-content-between">
              <div>
                <button class="btn btn-success rounded-pill font-14 active me-2">
                Trailer Info
                </button>
                <a routerLink="/document" class="btn btn-success rounded-pill font-14 active me-2">
                  Document
                </a>
                <a routerLink="/trailer-list" class="btn btn-outline-secondary rounded-pill font-14">
                  Back to Truck List
                </a>
              </div>
              <div>                
                <div class="btn-group" role="group" aria-label="Basic example">
                  <a href="javascript:;" class="btn btn-success rounded-pill font-14" type="button" data-bs-toggle="offcanvas" data-bs-target="#editTruck" aria-controls="offcanvasRight"><i class="fa fa-pencil me-1" aria-hidden="true"></i>Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row bg-light px-3 py-4 mt-3 rounded">
          <div class="col-md-12">
              <div class="flex-lg-row-fluid me-0">
                <div class="row" *ngIf="trailerData">
                  <div class="col-md-3">
                    <div class=" fv-row mb-6 bg-white p-3 rounded border">
                      <div class="row">
                        <div class="col-lg-12">
                          <div class="card mb-4">
                            <div class="card-body text-center">
                              <img src="https://cdn.pixabay.com/photo/2014/03/25/16/58/truck-297749_1280.png" alt="avatar" class="rounded-circle img-fluid" style="width: 120px;">
                              <h5 class="my-3">{{ trailerData?.unitNumber }}(Trailer)</h5>
                              <div class="d-flex justify-content-center mb-2">
                                <a href=""><i class="fa fa-pencil me-1 border p-2 rounded" aria-hidden="true"></i></a>
                                <a href=""><i class="fa fa-bell border p-2 rounded text-danger" aria-hidden="true"></i></a> &nbsp;
                                <div class="dropdown add-dropdown">
                                  <button type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" class=" dropdown-toggle active-btn d-flex align-items-center  text-success p-1" style="background: #fff; border: none;">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i> &nbsp; Active
                                  </button>
                                  <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu" style="">
                                      <li><a href="javascript:;" class="dropdown-item font-13">Active</a></li>
                                      <li><a href="javascript:;" class="dropdown-item font-13">Offline</a></li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <hr class="hr">
                            <div class="bg-light p-2 rounded-lg mb-4" >                          
                              <ul class="mb-0" style="padding-left: 0px !important;">                            
                                <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                                  <span class="text-capitalize font-12 font-weight-600 mb-2"> Unit Number </span>
                                  <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.unitNumber }}</span>
                                </li>
                                <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                                  <span class="text-capitalize font-12 font-weight-600 mb-2">VIN Number</span>
                                  <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.vinNumber }} </span>
                                </li>
                                <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                                  <span class="text-capitalize font-12 font-weight-600 mb-2"> Plate Number </span>
                                  <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.plateNumber }}</span>
                                </li>
                                <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                                  <span class="text-capitalize font-12 font-weight-600 mb-2"> Expiration Date </span>
                                  <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.expirationDate }}</span>
                                </li>
                                <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                                  <span class="text-capitalize font-12 font-weight-600 mb-2"> Cab Card </span>
                                  <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.cabCard }}</span>
                                </li>
                                <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                                  <span class="text-capitalize font-12 font-weight-600 mb-2">  Upload Documents  </span>
                                  <span class="edit-text font-14 font-weight-500 mb-2">
                                    <a [href]="trailerData.uploadDocument" target="_blank">
                                      {{ trailerData.uploadDocument | slice:(trailerData.uploadDocument.lastIndexOf('/')+1) }}
                                    </a>
                                  </span>
                                </li>
                                
                              </ul>
                            </div>
                          </div>                                
                        </div>                              
                      </div>
                      
                    </div>
                  </div> 

                  <div class="col-md-6">
                    <div class=" fv-row mb-6 bg-white p-3 rounded border">
                      <div class="bg-light p-2 rounded-lg mb-2">                          
                        <ul class="mb-0" style="padding-left: 0px !important;">                            
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2">  Annual DOT Insp  </span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.annualDotInspDocument }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Upload Document </span>
                            <span class="edit-text font-14 font-weight-500 mb-2">
                              <a [href]="trailerData.uploadDocument1" target="_blank">
                                {{ trailerData.uploadDocument1 | slice:(trailerData.uploadDocument1.lastIndexOf('/')+1) }}
                              </a>
                            </span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Renewal Date</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.renewalDate }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Purchase Date</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.purchaseDate }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Purchase Price</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.purchasePrice }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Upload Documents</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">
                              <a [href]="trailerData.uploadDocument2" target="_blank">
                                {{ trailerData.uploadDocument2 | slice:(trailerData.uploadDocument2.lastIndexOf('/')+1) }}
                              </a>
                            </span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Loan Bank Name</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.loanBankName }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Loan ACC Number</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.loanAccNumber }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Upload Documents</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">
                              <a [href]="trailerData.uploadDocument3" target="_blank">
                                {{ trailerData.uploadDocument3 | slice:(trailerData.uploadDocument3.lastIndexOf('/')+1) }}
                              </a>
                            </span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Bank Contact</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.bankContact }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Interest Rate</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.interestRate }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Monthly Payment</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.monthlyPayment }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Payoff Date</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.payoffDate }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Prepass Transponder Number</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.prepassTransponderNumber }}</span>
                          </li>
                          <li class="d-flex flex-wrap align-items-center justify-content-between mb-2">
                            <span class="text-capitalize font-12 font-weight-600 mb-2"> Fuel Card Number</span>
                            <span class="edit-text font-14 font-weight-500 mb-2">{{ trailerData.fuelCardNumber }}</span>
                          </li>
                          
                        </ul>
                      </div>
                    </div>
                  </div> 

                    <div class="col-md-3">
                      <div class=" fv-row mb-6 bg-white p-3 rounded border">
                        
                        <div class="bg-light p-2 rounded-lg">                          
                          <ul class="mb-0" style="padding-left: 0px !important;">                            
                            <li class="d-flex flex-wrap align-items-center justify-content-between mb-2 border-bottom">
                              <span class="text-capitalize font-14 font-weight-600 mb-2"> Truck </span>
                              <span class="edit-text font-14 font-weight-600 mb-2"><a href=""><i class="fa fa-plus me-2" aria-hidden="true"></i> Assign</a></span>
                            </li>
                            <p class="text-center border-bottom pb-2">  No Truck Assign  </p>
                          </ul>
                        </div>
                        <div class="bg-light p-2 rounded-lg">                          
                          <ul class="mb-0" style="padding-left: 0px !important;">                            
                            <li class="d-flex flex-wrap align-items-center justify-content-between mb-2 border-bottom">
                              <span class="text-capitalize font-14 font-weight-600 mb-2"> Trailer Company </span>
                              <span class="edit-text font-14 font-weight-600 mb-2"><a href=""><i class="fa fa-plus me-2" aria-hidden="true"></i> Assign Company</a></span>
                            </li>
                            <p class="text-center border-bottom pb-2">   No trailer company assigned  </p>
                          </ul>
                        </div>
                        <div class="bg-light p-2 rounded-lg">                          
                          <ul class="mb-0" style="padding-left: 0px !important;">                            
                            <li class="d-flex flex-wrap align-items-center justify-content-between mb-2 border-bottom">
                              <span class="text-capitalize font-14 font-weight-600 mb-2"> Garage Location </span>
                              <span class="edit-text font-14 font-weight-600 mb-2"><a href=""><i class="ri-save-3-line" aria-hidden="true"></i>  Save</a></span>
                            </li>
                            <textarea class="form-control mb-3" rows="5"></textarea>
                          </ul>
                        </div>
                        <div class="bg-light p-2 rounded-lg">                          
                          <ul class="mb-0" style="padding-left: 0px !important;">                            
                            <li class="d-flex flex-wrap align-items-center justify-content-between mb-2 border-bottom">
                              <span class="text-capitalize font-14 font-weight-600 mb-2"> GPS Tracking </span>
                              <span class="edit-text font-14 font-weight-600 mb-2"><a href=""><i class="fa fa-plus me-2" aria-hidden="true"></i> Link to ELD/Gateway</a></span>
                            </li>
                            <p class="text-center border-bottom pb-2">    Location unavailable    </p>
                          </ul>
                        </div>
                        
                      </div>
                    </div>
                    
                  </div> 
              </div>
          </div>                
        </div>

      </div>
  </div>
</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="text-dark text-center">
    <span class="text-muted fw-semibold me-1">2023© all rights reserved</span>
    <a href="#" class="font-weight-700 text-hover-dark text-dark text-uppercase">3PL TEK INC.</a>
  </div>

</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center btn-success"><i
    class="bi bi-arrow-up-short"></i></a>



    <div class="offcanvas offcanvas-end" tabindex="-1" id="editTruck" aria-labelledby="offcanvasRightLabel" style="width: 80%;">
      <div class="modal-header" style="padding: 15px; border-bottom: 1px solid #ccc;">
        <h5 class="modal-title">Edit Truck</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-h2="Close"></button>
      </div>
      <div class="offcanvas-body view-load position-relative">
        <form class="row g-3">
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700"> Unit Number</h2>
            <input type="text" class="form-control" id="validationDefault01" value=" U88578 " required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">VIN Number</h2>
            <input type="text" class="form-control" id="validationDefault02" value="V8557895" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Plate Number</h2>
            <input type="text" class="form-control" id="validationDefault02" value="J-858266" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Expiration Date</h2>
            <input type="text" class="form-control" id="validationDefault02" value="08/23/2023" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Cab Card</h2>
            <input type="text" class="form-control" id="validationDefault02" value="Cab Card" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Upload Documents</h2>
            <input type="text" class="form-control" id="validationDefault02" value="Document.pdf" required="">
          </div>
  
          <hr class="hr">
  
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Annual DOT Insp</h2>
            <input type="text" class="form-control" id="validationDefault02" value="Annual DOT Insp" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Upload Document</h2>
            <input type="text" class="form-control" id="validationDefault02" value="Document.pdf" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Renewal Date</h2>
            <input type="text" class="form-control" id="validationDefault02" value="08/24/2023" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Purchase Date</h2>
            <input type="text" class="form-control" id="validationDefault02" value="16/03/2023" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Purchase Price</h2>
            <input type="text" class="form-control" id="validationDefault02" value="$400.00" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Upload Documents</h2>
            <input type="text" class="form-control" id="validationDefault02" value="Document.pdf" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Loan Bank Name</h2>
            <input type="text" class="form-control" id="validationDefault02" value="Swiss Bank pvt ltd" required="">
          </div>
  
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Loan ACC Number</h2>
            <input type="text" class="form-control" id="validationDefault02" value="A-256577888" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Upload Documents</h2>
            <input type="text" class="form-control" id="validationDefault02" value="Document.pdf" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Bank Contact</h2>
            <input type="text" class="form-control" id="validationDefault02" value="416-888-4258" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Interest Rate</h2>
            <input type="text" class="form-control" id="validationDefault02" value="$18.00" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Monthly Payment</h2>
            <input type="text" class="form-control" id="validationDefault02" value="$1500.00" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Payoff Date</h2>
            <input type="text" class="form-control" id="validationDefault02" value="16/03/2023" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Prepass Transponder Number</h2>
            <input type="text" class="form-control" id="validationDefault02" value="P-85788221" required="">
          </div>
          <div class="col-md-4">
            <h2 class="font-14 font-weight-700">Fuel Card Number</h2>
            <input type="text" class="form-control" id="validationDefault02" value="F-58782115" required="">
          </div>
        </form>
          
  
          
          
     
