<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<main id="main" class="main mt-0 p-0">

  <body>

    <!-- ======= Header ======= -->
    <header id="header" class="header d-flex align-items-center justify-content-between">

      <div class="d-flex align-items-center justify-content-between">
        <a href="dashboard.html" class="logo d-flex align-items-center">
          <img src="assets/img/3pltek-logo.png" alt="3pltek-logo">

        </a>
        <div class="row">
          <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-h2="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse ms-5" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">

                  <a class="nav-link" routerLink="/company-profile">Dashboard</a>





                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>
  </body>

  <div id="kt_app_content" class="app-content  flex-column-fluid">
    <div class="container-fluid px-5">

      <div class="row bg-white p-3 mt-3 rounded">
        <div class="col-md-12">
          <div class="d-flex justify-content-between">
            <div>
              <button class="btn btn-success rounded-pill font-14 active me-2">
                Compamy List
              </button>

            </div>
            <div>
              <button type="button" class="btn btn-success rounded-pill font-14" data-bs-toggle="offcanvas"
                data-bs-target="#addLocation">
                <i class="fa fa-plus me-2" aria-hidden="true"></i>Add
              </button>
            </div>
          </div>
        </div>
      </div>





      <div class="row">
        <div class="col-lg-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">Company Name</th>
                  <th scope="col">DOT</th>
                  <th scope="col">MC</th>
                  <th scope="col">OWNER NAME</th>
                  <th scope="col">PHONE</th>
                  <th scope="col">EMAIL</th>
                  <th scope="col">ADDRESS</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let company of  companies  ">
                  <td><a class="text-primary" routerLink="/company-profile">{{
                      company.companyName }}</a></td>
                  <td>{{ company.dot }}</td>
                  <td>{{ company.mc }}</td>
                  <td>{{ company.ownerName }}</td>
                  <td>{{ company.phone }}</td>
                  <td>{{ company.ownerEmail }}</td>
                  <td>{{ company.address }}</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>




      <div class="row bg-white px-3 py-4 mt-3 rounded">
        <div class="col-md-12">
          <nav aria-label="Page navigation example ms-auto me-auto">
            <ul class="pagination justify-content-center gap-2 mb-0">
              <li class="page-item">
                <a class="page-link font-22" href="javascript:;" aria-label="Previous"><i
                    class="fa fa-angle-left font-weight-300"></i></a>
              </li>
              <li class="page-item active"><a class="page-link font-14" href="javascript:;">1</a></li>
              <li class="page-item"><a class="page-link font-14" href="javascript:;">2</a></li>
              <li class="page-item"><a class="page-link font-14" href="javascript:;">3</a></li>
              <li class="page-item"><a class="page-link font-14" href="javascript:;">4</a></li>
              <li class="page-item"><a class="page-link font-14" href="javascript:;">5</a></li>
              <li class="page-item"><a class="page-link font-22" href="javascript:;" aria-label="Next"><i
                    class="fa fa-angle-right font-weight-300"></i></a></li>
            </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
</main><!-- End #main -->



<!-- //form models -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center btn-success"><i
    class="bi bi-arrow-up-short"></i></a>




<div class="offcanvas offcanvas-end" id="addLocation" aria-labelledby="offcanvasRightLabel" style="width: 80%;"
  data-bs-backdrop="static" data-bs-keyboard="false">

  <div class="modal-header" style="padding: 15px; border-bottom: 1px solid #ccc;">
    <h5 class="modal-title">Add Company Profile</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-h5="Close"></button>
  </div>



  <div class="offcanvas-body view-load position-relative">
    <form class="row g-3" (ngSubmit)="submitForm()">
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Company Name</h5>
        <input type="text" class="form-control" id="companyName" placeholder="Company Name"
          [(ngModel)]="newCompany.companyName" name="companyName" #companyName="ngModel" required
          [ngClass]="{'is-invalid': companyName.invalid && (companyName.dirty || companyName.touched)}">
        <div *ngIf="companyName.invalid && (companyName.dirty || companyName.touched)" class="invalid-feedback">
          Company Name is required.
        </div>
      </div>

      <!-- Corporation -->
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Corporation</h5>
        <input type="text" class="form-control" id="corporation" placeholder="Corporation"
          [(ngModel)]="newCompany.corporation" name="corporation" #corporation="ngModel" required
          [ngClass]="{'is-invalid': corporation.invalid && (corporation.dirty || corporation.touched)}">
        <div *ngIf="corporation.invalid && (corporation.dirty || corporation.touched)" class="invalid-feedback">
          Corporation is required.
        </div>
      </div>

      <!-- DOT -->
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">DOT</h5>
        <input type="text" class="form-control" id="dot" placeholder="DOT" [(ngModel)]="newCompany.dot" name="DOT"
          #dot="ngModel" required [ngClass]="{'is-invalid': dot.invalid && (dot.dirty || dot.touched)}">
        <div *ngIf="dot.invalid && (dot.dirty || dot.touched)" class="invalid-feedback">
          DOT is required.
        </div>
      </div>

      <!-- MC -->
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">MC</h5>
        <input type="text" class="form-control" id="mc" placeholder="MC" [(ngModel)]="newCompany.mc" name="MC"
          #mc="ngModel" required [ngClass]="{'is-invalid': mc.invalid && (mc.dirty || mc.touched)}">
        <div *ngIf="mc.invalid && (mc.dirty || mc.touched)" class="invalid-feedback">
          MC is required.
        </div>
      </div>

      <!-- Upload Documents -->
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Upload Documents</h5>
        <input type="file" class="form-control" id="validationDefault02" placeholder="Document.pdf"
          (change)="onFileChange($event, 'uploadDocument')" name="validationDefault02" required="">
              
      </div>

      <!-- Owner Name -->
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Owner Name</h5>
        <input type="text" class="form-control" id="ownerName" placeholder="Owner Name"
          [(ngModel)]="newCompany.ownerName" name="ownerName" #ownerName="ngModel" required
          [ngClass]="{'is-invalid': ownerName.invalid && (ownerName.dirty || ownerName.touched)}">
        <div *ngIf="ownerName.invalid && (ownerName.dirty || ownerName.touched)" class="invalid-feedback">
          Owner Name is required.
        </div>
      </div>

      <!-- KYU -->
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">KYU</h5>
        <input type="text" class="form-control" id="kyu" placeholder="KYU" [(ngModel)]="newCompany.kyu" name="kyu"
          #kyu="ngModel" required [ngClass]="{'is-invalid': kyu.invalid && (kyu.dirty || kyu.touched)}">
        <div *ngIf="kyu.invalid && (kyu.dirty || kyu.touched)" class="invalid-feedback">
          KYU is required.
        </div>
      </div>

      <!-- Upload Documents for KYU -->
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Upload Documents</h5>
        <input type="file" class="form-control" id="validationDefault02" placeholder="Document.pdf"
          (change)="onFileChange($event, 'kyuUploadDocument')" name="validationDefault02" required="">
              
      </div>
      <!-- KYU Expiration -->
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">KYU Expiration</h5>
        <input type="date" class="form-control" id="kyuExpiration" placeholder="dd/mm/yyyy"
          [(ngModel)]="newCompany.kyuExpiration" name="kyuExpiration" #kyuExpiration="ngModel" required
          [ngClass]="{'is-invalid': kyuExpiration.invalid && (kyuExpiration.dirty || kyuExpiration.touched)}">
        <div *ngIf="kyuExpiration.invalid && (kyuExpiration.dirty || kyuExpiration.touched)" class="invalid-feedback">
          KYU Expiration is required.
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Upload Documents</h5>
        <input type="file" class="form-control" id="validationDefault02" placeholder="Document.pdf"
          (change)="onFileChange($event, 'nyUploadDocument')" name="validationDefault02" required="">
              
      </div>


      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">NY</h5>
        <input type="text" class="form-control" id="NY" placeholder="NY" [(ngModel)]="newCompany.ny" name="ny"
          #ny="ngModel" required [ngClass]="{'is-invalid': ny.invalid && (ny.dirty || ny.touched)}">
        <div *ngIf="ny.invalid && (ny.dirty || ny.touched)" class="invalid-feedback">
          NY is required.
        </div>
      </div>



      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">NY Expiration</h5>
        <input type="date" class="form-control" id="NY Expiration" placeholder="dd/mm/yyyy"
          [(ngModel)]="newCompany.nyExpiration" name="nyExpiration" #nyExpiration="ngModel" required
          [ngClass]="{'is-invalid': nyExpiration.invalid && (nyExpiration.dirty || nyExpiration.touched)}">
        <div *ngIf="nyExpiration.invalid && (nyExpiration.dirty || nyExpiration.touched)" class="invalid-feedback">
          NY Expiration is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">NM WDT</h5>
        <input type="text" class="form-control" id="NM WDT" placeholder="NM WDT" [(ngModel)]="newCompany.nmWdt"
          name="nmWdt" #nmWdt="ngModel" required
          [ngClass]="{'is-invalid': nmWdt.invalid && (nmWdt.dirty || nmWdt.touched)}">
        <div *ngIf="nmWdt.invalid && (nmWdt.dirty || nmWdt.touched)" class="invalid-feedback">
          NM WDT is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Ein</h5>
        <input type="text" class="form-control" id="Ein" placeholder="Ein" [(ngModel)]="newCompany.ein" name="ein"
          #ein="ngModel" required [ngClass]="{'is-invalid': ein.invalid && (ein.dirty || ein.touched)}">
        <div *ngIf="ein.invalid && (ein.dirty || ein.touched)" class="invalid-feedback">
          EIN is required.
        </div>
      </div>

      <div class="col-md-2">
        <h5 class="font-14 font-weight-700">W9</h5>
        <input type="text" class="form-control" id="W9" placeholder="W9" [(ngModel)]="newCompany.w9" name="w9"
          #w9="ngModel" required [ngClass]="{'is-invalid': w9.invalid && (w9.dirty || w9.touched)}">
        <div *ngIf="w9.invalid && (w9.dirty || w9.touched)" class="invalid-feedback">
          W9 is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Upload Documents</h5>
        <input type="file" class="form-control" id="validationDefault02" placeholder="Document.pdf"
          (change)="onFileChange($event, 'w9UploadDocument')" name="validationDefault02" required="">
              
      </div>

      <hr class="hr">

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">IFTA ACC</h5>
        <input type="text" class="form-control" id="IFTA ACC" placeholder="IFTA ACC" [(ngModel)]="newCompany.iftaAcc"
          name="iftaAcc" #iftaAcc="ngModel" required
          [ngClass]="{'is-invalid': iftaAcc.invalid && (iftaAcc.dirty || iftaAcc.touched)}">
        <div *ngIf="iftaAcc.invalid && (iftaAcc.dirty || iftaAcc.touched)" class="invalid-feedback">
          IFTA ACC is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Prepass</h5>
        <input type="text" class="form-control" id="Prepass" placeholder="Prepass" [(ngModel)]="newCompany.prepass"
          name="prepass" #prepass="ngModel" required
          [ngClass]="{'is-invalid': prepass.invalid && (prepass.dirty || prepass.touched)}">
        <div *ngIf="prepass.invalid && (prepass.dirty || prepass.touched)" class="invalid-feedback">
          Prepass is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">IRP ACC</h5>
        <input type="text" class="form-control" id="IRP ACC" placeholder="IRP ACC" [(ngModel)]="newCompany.irpAcc"
          name="irpAcc" #irpAcc="ngModel" required
          [ngClass]="{'is-invalid': irpAcc.invalid && (irpAcc.dirty || irpAcc.touched)}">
        <div *ngIf="irpAcc.invalid && (irpAcc.dirty || irpAcc.touched)" class="invalid-feedback">
          IRP ACC is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">IRP Renewal Date</h5>
        <input type="date" class="form-control" id="IRP Renewal Date" placeholder="dd/mm/yyyy"
          [(ngModel)]="newCompany.irpRenewalDate" name="irpRenewalDate" #irpRenewalDate="ngModel" required
          [ngClass]="{'is-invalid': irpRenewalDate.invalid && (irpRenewalDate.dirty || irpRenewalDate.touched)}">
        <div *ngIf="irpRenewalDate.invalid && (irpRenewalDate.dirty || irpRenewalDate.touched)"
          class="invalid-feedback">
          IRP Renewal Date is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Insurance Document</h5>
        <input type="file" class="form-control" id="validationDefault02" placeholder="Document.pdf"
          (change)="onFileChange($event, 'insuranceDocument')" name="validationDefault02" required="">
              
      </div>

      <hr class="hr">


      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Address</h5>
        <input type="text" class="form-control" id="Address" placeholder="Enter Address"
          [(ngModel)]="newCompany.address" name="address" #address="ngModel" required
          [ngClass]="{'is-invalid': address.invalid && (address.dirty || address.touched)}">
        <div *ngIf="address.invalid && (address.dirty || address.touched)" class="invalid-feedback">
          Address is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Phone</h5>
        <input type="number" class="form-control" id="Phone" placeholder="Enter Phone" [(ngModel)]="newCompany.phone"
          name="phone" #phone="ngModel" required
          [ngClass]="{'is-invalid': phone.invalid && (phone.dirty || phone.touched)}">
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="invalid-feedback">
          Phone number is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Pull Notice ACC</h5>
        <input type="text" class="form-control" id="Pull Noitce ACC" placeholder="Pull Notice ACC"
          [(ngModel)]="newCompany.pullNoticeAcc" name="pullNoticeAcc" #pullNoticeAcc="ngModel" required
          [ngClass]="{'is-invalid': pullNoticeAcc.invalid && (pullNoticeAcc.dirty || pullNoticeAcc.touched)}">
        <div *ngIf="pullNoticeAcc.invalid && (pullNoticeAcc.dirty || pullNoticeAcc.touched)" class="invalid-feedback">
          Pull Notice ACC is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Truck</h5>
        <input type="text" class="form-control" id="Truck" placeholder="Truck" [(ngModel)]="newCompany.truck"
          name="truck" #truck="ngModel" required
          [ngClass]="{'is-invalid': truck.invalid && (truck.dirty || truck.touched)}">
        <div *ngIf="truck.invalid && (truck.dirty || truck.touched)" class="invalid-feedback">
          Truck is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Registration</h5>
        <input type="text" class="form-control" id="Registration" placeholder="Registration"
          [(ngModel)]="newCompany.registration" name="registration" #registration="ngModel" required
          [ngClass]="{'is-invalid': registration.invalid && (registration.dirty || registration.touched)}">
        <div *ngIf="registration.invalid && (registration.dirty || registration.touched)" class="invalid-feedback">
          Registration is required.
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Registration Upload Document</h5>
        <input type="file" class="form-control" id="validationDefault02" placeholder="Document.pdf"
          (change)="onFileChange($event, 'registrationUploadDocument')" name="validationDefault02" required="">
              
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Owner Address</h5>
        <input type="text" class="form-control" id="Owner Address" placeholder="Owner Address"
          [(ngModel)]="newCompany.ownerAddress" name="ownerAddress" #ownerAddress="ngModel" required
          [ngClass]="{'is-invalid': ownerAddress.invalid && (ownerAddress.dirty || ownerAddress.touched)}">
        <div *ngIf="ownerAddress.invalid && (ownerAddress.dirty || ownerAddress.touched)" class="invalid-feedback">
          Owner Address is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Owner Phone</h5>
        <input type="number" class="form-control" id="Owner Phone" placeholder="Owner Phone"
          [(ngModel)]="newCompany.ownerPhone" name="ownerPhone" #ownerPhone="ngModel" required
          [ngClass]="{'is-invalid': ownerPhone.invalid && (ownerPhone.dirty || ownerPhone.touched)}">
        <div *ngIf="ownerPhone.invalid && (ownerPhone.dirty || ownerPhone.touched)" class="invalid-feedback">
          Owner Phone is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Owner Email</h5>
        <input type="email" class="form-control" id="Owner Email" placeholder="Owner Email"
          [(ngModel)]="newCompany.ownerEmail" name="ownerEmail" #ownerEmail="ngModel" required
          [ngClass]="{'is-invalid': ownerEmail.invalid && (ownerEmail.dirty || ownerEmail.touched)}">
        <div *ngIf="ownerEmail.invalid && (ownerEmail.dirty || ownerEmail.touched)" class="invalid-feedback">
          A valid Owner Email is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Number of Trailer</h5>
        <input type="number" class="form-control" id="Number of Trailer" placeholder="Number of Trailer"
          [(ngModel)]="newCompany.numberOfTrailer" name="numberOfTrailer" #numberOfTrailer="ngModel" required
          [ngClass]="{'is-invalid': numberOfTrailer.invalid && (numberOfTrailer.dirty || numberOfTrailer.touched)}">
        <div *ngIf="numberOfTrailer.invalid && (numberOfTrailer.dirty || numberOfTrailer.touched)"
          class="invalid-feedback">
          Number of Trailer is required.
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Trailer Registration</h5>
        <input type="date" class="form-control" id="Trailer Registration" placeholder="dd/mm/yyyy"
          [(ngModel)]="newCompany.trailerRegistration" name="trailerRegistration" #trailerRegistration="ngModel"
          required
          [ngClass]="{'is-invalid': trailerRegistration.invalid && (trailerRegistration.dirty || trailerRegistration.touched)}">
        <div *ngIf="trailerRegistration.invalid && (trailerRegistration.dirty || trailerRegistration.touched)"
          class="invalid-feedback">
          Trailer Registration is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Trailer Upload Document</h5>
        <input type="file" class="form-control" id="validationDefault02" placeholder="Document.pdf"
          (change)="onFileChange($event, 'trailerUploadDocument')" name="validationDefault02" required="">
              
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Randon DT Enrollment Cert</h5>
        <input type="text" class="form-control" id="Randon DT Enrollment Cert" placeholder="Randon DT Enrollment Cert"
          [(ngModel)]="newCompany.randomDtEnrollmentCert" name="randomDtEnrollmentCert"
          #randomDtEnrollmentCert="ngModel" required
          [ngClass]="{'is-invalid': randomDtEnrollmentCert.invalid && (randomDtEnrollmentCert.dirty || randomDtEnrollmentCert.touched)}">
        <div *ngIf="randomDtEnrollmentCert.invalid && (randomDtEnrollmentCert.dirty || randomDtEnrollmentCert.touched)"
          class="invalid-feedback">
          Randon DT Enrollment Cert is required.
        </div>
      </div>

      <div class="col-md-4">
        <h5 class="font-14 font-weight-700">Randon Upload Document</h5>
        <input type="file" class="form-control" id="validationDefault02" placeholder="Document.pdf"
          (change)="onFileChange($event, 'randomDtUploadDocument')" name="validationDefault02" required="">
              
      </div>

      <div class="modal-footer justify-content-center"
        style="border-top: 1px solid #ccc; padding-top: 15px; margin-top: 15px; ">
        <button type="button" class="btn btn-outline-secondary btn-sm text-uppercase rounded-pill"
          data-bs-dismiss="offcanvas" style="margin: 10px;">Close</button>
        <button type="submit" class="btn btn-success btn-sm text-uppercase rounded-pill"
          data-bs-dismiss="offcanvas">Save changes</button>
      </div>
    </form>

      
  </div>
</div>