<app-navbar></app-navbar>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

<main id="main" class="main mt-0 p-0">
    <div id="kt_app_content" class="app-content  flex-column-fluid">
        <div class="container-fluid px-5">
            
          <div class="row bg-white p-3 mt-3 rounded">
            <div class="col-md-12">
              <div class="d-flex justify-content-between">
                <div>
                  <button class="btn btn-success rounded-pill font-14 active me-2">
                  Document
                  </button>
                  <a href="company-profile" class="btn btn-outline-secondary rounded-pill font-14">
                    Back to Home
                  </a>
                </div>
              </div>
            </div>
          </div>
          




          <!-- <div class="row bg-white px-3 py-4 mt-3 rounded">
              <div class="col-md-12">
                  <div class="table-responsive">
                    <table class="table table-bordered">
                      <thead>
                        <tr>
                          <th scope="col">Number</th>
                          <th scope="col">Date</th>
                          <th scope="col">Type of Document</th>
                          <th scope="col">Company</th>
                          <th scope="col">Status</th>
                          <th scope="col">Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="text-primary">125012</td>
                          <td>16/08/2023</td>
                          <td>Invoices</td>
                          <td>3D Trucking</td>
                          <td>Actual</td>
                          <td class="text-capitalize">
                            <div class="dropdown">
                              <span class="status status-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false"><span class="text">View</span> <i class="fa fa-angle-down font-12"></i></span>
                              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2" style="">
                                <a class="dropdown-item pending font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'pending')">View</a>
                                <a class="dropdown-item dispatch font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'dispatch')">Edit</a>
                                <a class="dropdown-item assiened font-13" href="javascript:;" onclick="dropdownevent('dropdownMenuButton2', 'assigned')">Delete</a>
                              </div>
                            </div>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
              </div>
          </div> -->
          <div class="row bg-white px-3 py-4 mt-3 rounded">
              <div class="col-md-12">
                  <nav aria-label="Page navigation example ms-auto me-auto">
                    <ul class="pagination justify-content-center gap-2 mb-0">
                      <li class="page-item">
                        <a class="page-link font-22" href="javascript:;" aria-label="Previous"><i class="fa fa-angle-left font-weight-300"></i></a>
                      </li>
                      <li class="page-item active"><a class="page-link font-14" href="javascript:;">1</a></li>
                      <li class="page-item"><a class="page-link font-14" href="javascript:;">2</a></li>
                      <li class="page-item"><a class="page-link font-14" href="javascript:;">3</a></li>
                      <li class="page-item"><a class="page-link font-14" href="javascript:;">4</a></li>
                      <li class="page-item"><a class="page-link font-14" href="javascript:;">5</a></li>
                      <li class="page-item"><a class="page-link font-22" href="javascript:;" aria-label="Next"><i class="fa fa-angle-right font-weight-300"></i></a></li>
                    </ul>
                  </nav>
              </div>
          </div>

        </div>
    </div>
  </main><!-- End #main -->


  